<div class="col-md-6 col-md-offset-3">

    <h1>Doctors list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Calendar</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Specialization</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doctor of doctors">
                <td (click)="goToDetails(doctor._id)">
                    <i class="material-icons">perm_contact_calendar</i>
                </td>
                <td>{{doctor.firstName}}</td>
                <td>{{doctor.lastName}}</td>
                <td>{{doctor.specialization.description}}</td>
            </tr>
        </tbody>
    </table>


    <table class="table table-bordered">
        <tbody>
            <tr *ngFor="let doctor of [[1,2,3],[3,5,6]]">
                    <td *ngFor="let rowQ of doctor">
                        SIEMA {{rowQ}}
                    </td>
            </tr>
        </tbody>
    </table>

    <div (click)="showTimeTable()"> Show timetable</div>
    <!--<p><a [routerLink]="['/home']">Back</a></p>-->
</div>