<div class="col-md-6 col-md-offset-3">

    <h1>Lista lekarzy</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Specjalizacja</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doctor of doctors"  (click)="goToDetails(doctor._id)">
                <td>{{doctor.firstName}}</td>
                <td>{{doctor.lastName}}</td>
                <td>{{doctor.specialization}}</td>
            </tr>
        </tbody>
    </table>
    <!--<p><a [routerLink]="['/home']">Back</a></p>-->
</div>

