<div>

    <div style="margin-bottom: 20px">
        <button class="btn btn-default btn-lg " (click)="showTimeTable()">
            Show timetable</button>
    </div>


    <mat-table #table [dataSource]="dataSource">

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef> {{ 'firstName' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.firstName}} </mat-cell>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef> {{ 'lastName' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
        </ng-container>

        <!-- Birthdate Column -->
        <ng-container matColumnDef="specialization">
            <mat-header-cell *matHeaderCellDef> {{ 'specialization' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.specialization.description }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="calendar">
            <mat-header-cell *matHeaderCellDef> {{ 'calendar' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-button (click)="goToDetails(row._id)"
                        class="btn btn-default">
                    <i class="material-icons">perm_contact_calendar</i>
                    </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    </mat-table>


    <!--<p><a [routerLink]="['/home']">Back</a></p>-->
</div>