@import '../../../assets/styles/colors';

.user-details {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px $oc-gray-3;
  background: $oc-white;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
  }

  &__photo {
    margin-left: 5rem;

    i {
      font-size: 10rem;
    }
  }

  &__info {
    & > div {
      display: flex;
      flex-direction: row;
    }

    &-label {
      font-size: 1.6rem;
      padding-right: 1rem;
      min-width: 16rem;
    }

    &-value {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
}