<!--<script src="patientDetails.component.ts"></script>-->
<div class="user-details">
    <div class="user-details__title">
        <div class="user-details__name">
            {{ patient?.firstName }} {{ patient?.lastName}}
        </div>
        <div class="user-details__photo">
            <i class="material-icons">face</i>
        </div>
    </div>
    <div class="user-details__info">
        <div>
            <div class="user-details__info-label">Date of birth: </div>
            <div class="user-details__info-value">{{ patient?.birthdate | date: 'dd/MM/yyyy' }}</div>
        </div>
        <div>
            <div class="user-details__info-label">Gender: </div>
            <div class="user-details__info-value">{{ patient?.gender }}</div>
        </div>
        <div>
            <div class="user-details__info-label"> Phone:</div>
            <div class="user-details__info-value">{{ patient?.phoneNumber }}</div>
        </div>
        <div>
            <div class="user-details__info-label">Country:</div>
            <div class="user-details__info-value">{{ patient?.country }}</div>
        </div>
        <div>
            <div class="user-details__info-label">Address:</div>
            <div class="user-details__info-value">{{ patient?.city }}</div>
        </div>
        <div>
            <div class="user-details__info-label">PESEL:</div>
            <div class="user-details__info-value">{{ patient?.pesel }}</div>
        </div>
    </div>
    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>
