
.user-details {
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.2rem;
  }

  &__photo {
    margin-left: 5rem;

    i {
      font-size: 10rem;
    }
  }

  &__info {
    & > div {
      display: flex;
      flex-direction: row;
    }

    &-label {
      font-size: 1.8rem;
      padding-right: 1rem;
    }

    &-value {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
}