<div class="patient-details">
    <div class="patient-details__title">
        <div class="patient-details__photo">
            <i class="material-icons">face</i>
        </div>
        <div class="patient-details__name">
            {{ patient?.firstName }} {{ patient?.lastName}}
        </div>
    </div>
    <div class="patient-details__action-buttons" style="display: flex; flex-direction: column">
        <button
                mat-mini-fab color="primary"
                mdl-tooltip-large="Edit patient"
                mdl-tooltip-position="right"
                (click)="editUserDialog.show()"
        >
            <mat-icon>mode_edit</mat-icon>
        </button>
        <button
                mat-mini-fab
                color="primary"
                mdl-tooltip-large="Proceed with an appoinment"
                mdl-tooltip-position="right"
                [routerLink]="['/proceedAppointment', 'patient', patient?.id]"
        >
            <mat-icon aria-label="Example icon-button with a heart icon">launch</mat-icon>
        </button>
        <button mat-mini-fab color="primary" mdl-tooltip-large="Send an email" mdl-tooltip-position="right" (click)="sendMail('cynarx@gmail.com','my-subject','my-message')">
            <mat-icon aria-label="Example icon-button with a heart icon">mail_outline</mat-icon>
        </button>
    </div>


    <mat-tab-group class="demo-tab-group">
        <mat-tab label="Basic Informations">
            <div class="demo-tab-content">

                <!-- from here -->

                <mat-list>
                    <h3 mat-subheader>{{ 'PersonalInfo' | translate }}</h3>
                    <mat-list-item>
                        <span class="info-label">{{ 'dateOfBirth' | translate }}: </span>
                        {{ patient?.birthdate | date }}
                    </mat-list-item>
                    <mat-list-item>
                        <span class="info-label">{{ 'gender' | translate }}: </span>
                        {{ patient?.gender }}
                    </mat-list-item>
                    <mat-list-item>
                        <span class="info-label">{{ 'phone' | translate }}:</span>
                        {{ patient?.phoneNumber }}
                    </mat-list-item>
                    <mat-list-item>
                        <span class="info-label">{{ 'country' | translate }}:</span>
                        {{ patient?.country }}
                    </mat-list-item>
                    <mat-list-item>
                        <span class="info-label">{{ 'address' | translate }}:</span>
                        {{ patient?.city }} {{ patient?.buildingNumber }}<span *ngIf="patient?.flatNumber">/{{ patient?.flatNumber }}</span>
                    </mat-list-item>
                    <mat-list-item>
                        <span class="info-label">{{ 'pesel' | translate }}:</span>
                        {{ patient?.pesel }}
                    </mat-list-item>
                    <mat-divider *ngIf="patient?.medicalInfo"></mat-divider>
                    <button
                            *ngIf="!patient?.medicalInfo"
                            mat-button color="primary"
                            mdl-tooltip-large="Add Medical Information"
                            mdl-tooltip-position="right"
                            (click)="medicalInfoDialog.show()"
                    >
                        <mat-icon>add</mat-icon>
                    </button>
                    <div *ngIf="patient?.medicalInfo">
                        <h3 mat-subheader>{{ 'MedicalInfo' | translate }}</h3>
                        <mat-list-item> <span class="info-label">{{ 'height' | translate }}:</span> {{ patient?.medicalInfo?.height}} </mat-list-item>
                        <mat-list-item> <span class="info-label">{{ 'weight' | translate }}:</span> {{ patient?.medicalInfo?.weight}} </mat-list-item>
                        <mat-list-item> <span class="info-label">{{ 'allergies' | translate }}:</span> {{ patient?.medicalInfo?.allergies}} </mat-list-item>
                        <mat-list-item> <span class="info-label">{{ 'otherNotes' | translate }}:</span> {{ patient?.medicalInfo?.otherNotes}} </mat-list-item>
                        <button
                                mat-button color="primary"
                                mdl-tooltip-large="Edit Medical Information"
                                mdl-tooltip-position="right"
                                (click)="medicalInfoEditDialog.show()"
                        >
                            <mat-icon>mode_edit</mat-icon>
                        </button>
                    </div>
                </mat-list>
            </div>
        </mat-tab>
        <mat-tab label="Medical History">
            <div class="demo-tab-content">

                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="model.startDate" [matDatepicker]="pickerStart" placeholder="From">
                    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                    <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput [(ngModel)]="model.endDate" [matDatepicker]="pickerEnd" placeholder="To">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>

                <button mat-button color="primary" (click)="showMedicalHistory()">
                    {{ 'Show' | translate }}
                </button>

                <button mat-button color="primary" (click)="addToMedicalHistoryDialog.show()">
                    {{ 'AddToMedicalHistory' | translate }}
                </button>

                <mat-accordion class="example-headers-align" *ngIf="medicalHistory">
                    <mat-expansion-panel *ngFor="let item of medicalHistory">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ item.diseaseName}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ item.detectionDate | date }} - {{ item.cureDate | date }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        {{ 'Symptoms' | translate }}: {{ item.symptoms }}
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </mat-tab>
        <mat-tab label="Emergency Contact">
            <button mat-button color="primary" (click)="addEmergencyContactDialog.show()" *ngIf="!emergencyContact">
                {{ 'AddEmergencyContact' | translate }}
            </button>
            <mat-list *ngIf="emergencyContact">
                <h3 mat-subheader>{{ 'EmergencyContact' | translate }}</h3>
                <mat-list-item>
                    <span class="info-label">{{ 'dateOfBirth' | translate }}: </span>
                    {{ emergencyContact?.birthdate | date }}
                </mat-list-item>
                <mat-list-item>
                    <span class="info-label">{{ 'gender' | translate }}: </span>
                    {{ emergencyContact?.gender }}
                </mat-list-item>
                <mat-list-item>
                    <span class="info-label">{{ 'phone' | translate }}:</span>
                    {{ emergencyContact?.phoneNumber }}
                </mat-list-item>
                <mat-list-item>
                    <span class="info-label">{{ 'country' | translate }}:</span>
                    {{ emergencyContact?.country }}
                </mat-list-item>
                <mat-list-item>
                    <span class="info-label">{{ 'address' | translate }}:</span>
                    {{ emergencyContact?.city }}
                </mat-list-item>
                <button
                        mat-mini-fab color="primary"
                        mdl-tooltip-large="Edit Medical Information"
                        mdl-tooltip-position="right"
                        (click)="editEmergencyContactDialog.show()"
                >
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </mat-list>
        </mat-tab>
        <mat-tab label="Locate" disabled>
            <div class="demo-tab-content">
                <agm-map [latitude]="lat" [longitude]="lng">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
            </div>
        </mat-tab>
        <mat-tab label="Results" disabled>
            No content
        </mat-tab>
        <mat-tab label="Appointments">
            <mat-accordion class="example-headers-align" *ngIf="appointments">
                <mat-expansion-panel *ngFor="let appointment of appointments">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ appointment?.timeslot?.startDateTime }} - {{ appointment?.timeslot?.endDateTime }}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ appointment?.priority }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    {{ 'Details' | translate }}: {{ appointment?.data }}
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>

    <mdl-dialog #editUserDialog
                [mdl-dialog-config]="{
                  clickOutsideToClose: true,
                  styles:{'width': '52rem'},
                  isModal:true,
                  openFrom: editUserButton,
                  enterTransitionDuration: 400,
                  leaveTransitionDuration: 400
                 }"
                (show)="onDialogShow(dialogRef)"
    >
        <h3 class="mdl-dialog__title">Edit Patient</h3>
        <div class="mdl-dialog__content">
            <dynamic-form
                    [config]="editPatientConfig"
                    #editPatientForm="dynamicForm"
                    (submit)="submit($event)">
            </dynamic-form>
        </div>
        <div class="mdl-dialog__actions">
            <!--<button mdl-button (click)="submit($event)" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>-->
            <button mdl-button (click)="editUserDialog.close()" mdl-ripple>Cancel</button>
        </div>
    </mdl-dialog>


    <mdl-dialog #medicalInfoDialog
                [mdl-dialog-config]="{
                  clickOutsideToClose: true,
                  styles:{'width': '52rem'},
                  isModal:true,
                  openFrom: medicalInfoDialogButton,
                  enterTransitionDuration: 400,
                  leaveTransitionDuration: 400
                 }"
                (show)="onMedicalInfoDialogShow(dialogRef)"
    >
        <h3 class="mdl-dialog__title">Add Medical Information</h3>
        <div class="mdl-dialog__content">
            <dynamic-form
                    [config]="medicalInfoConfig"
                    #medicalInfoForm="dynamicForm"
                    (submit)="addMedicalInfo($event)">
            </dynamic-form>
        </div>
        <div class="mdl-dialog__actions">
            <!--<button mdl-button (click)="submit($event)" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>-->
            <button mdl-button (click)="medicalInfoDialog.close()" mdl-ripple>Cancel</button>
        </div>
    </mdl-dialog>

    <mdl-dialog #medicalInfoEditDialog
                [mdl-dialog-config]="{
                  clickOutsideToClose: true,
                  styles:{'width': '52rem'},
                  isModal:true,
                  openFrom: medicalInfoEditDialogButton,
                  enterTransitionDuration: 400,
                  leaveTransitionDuration: 400
                 }"
                (show)="onMedicalInfoEditDialogShow(dialogRef)"
    >
        <h3 class="mdl-dialog__title">Edit Medical Information</h3>
        <div class="mdl-dialog__content">
            <dynamic-form
                    [config]="medicalInfoConfig"
                    #medicalInfoEditForm="dynamicForm"
                    (submit)="editMedicalInfo($event)">
            </dynamic-form>
        </div>
        <div class="mdl-dialog__actions">
            <!--<button mdl-button (click)="submit($event)" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>-->
            <button mdl-button (click)="medicalInfoEditDialog.close()" mdl-ripple>Cancel</button>
        </div>
    </mdl-dialog>

    <mdl-dialog #addToMedicalHistoryDialog
                [mdl-dialog-config]="{
                  clickOutsideToClose: true,
                  styles:{'width': '52rem'},
                  isModal:true,
                  openFrom: medicalInfoEditDialogButton,
                  enterTransitionDuration: 400,
                  leaveTransitionDuration: 400
                 }"
    >
        <h3 class="mdl-dialog__title">Add To Medical History</h3>
        <div class="mdl-dialog__content">
            <dynamic-form
                    [config]="medicalHistoryDiseaseConfig"
                    #medicalHistoryItemForm="dynamicForm"
                    (submit)="addToMedicalHistory($event)">
            </dynamic-form>
        </div>
        <div class="mdl-dialog__actions">
            <!--<button mdl-button (click)="submit($event)" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>-->
            <button mdl-button (click)="addToMedicalHistoryDialog.close()" mdl-ripple>Cancel</button>
        </div>
    </mdl-dialog>

    <mdl-dialog #addEmergencyContactDialog
                [mdl-dialog-config]="{
                  clickOutsideToClose: true,
                  styles:{'width': '52rem'},
                  isModal:true,
                  enterTransitionDuration: 400,
                  leaveTransitionDuration: 400
                 }"
    >
        <h3 class="mdl-dialog__title">{{ 'AddEmergencyContact' | translate }}</h3>
        <div class="mdl-dialog__content">
            <dynamic-form
                    [config]="emergencyContactConfig"
                    #addEmergencyContactForm="dynamicForm"
                    (submit)="addEmergencyContact($event)">
            </dynamic-form>
        </div>
        <div class="mdl-dialog__actions">
            <!--<button mdl-button (click)="submit($event)" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>-->
            <button mdl-button (click)="addEmergencyContactDialog.close()" mdl-ripple>Cancel</button>
        </div>
    </mdl-dialog>

    <mdl-dialog #editEmergencyContactDialog
                [mdl-dialog-config]="{
                  clickOutsideToClose: true,
                  styles:{'width': '52rem'},
                  isModal:true,
                  enterTransitionDuration: 400,
                  leaveTransitionDuration: 400
                 }"
                (show)="onEditEmergencyContactDialogShow(dialogRef)"
    >
        <h3 class="mdl-dialog__title">{{ 'EditEmergencyContact' | translate }}</h3>
        <div class="mdl-dialog__content">
            <dynamic-form
                    [config]="emergencyContactConfig"
                    #editEmergencyContactForm="dynamicForm"
                    (submit)="editEmergencyContact($event)">
            </dynamic-form>
        </div>
        <div class="mdl-dialog__actions">
            <!--<button mdl-button (click)="submit($event)" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>-->
            <button mdl-button (click)="editEmergencyContactDialog.close()" mdl-ripple>Cancel</button>
        </div>
    </mdl-dialog>

    <dialog-outlet></dialog-outlet>
</div>
