@import "../../../assets/styles/colors";
@import "../../../assets/styles/variables";

#proceduresScheduleComponent {
  background-color: $primary-bg;
}

#viewContainer {
  max-width: 1000px;
  margin: 0 auto;
  color: $oc-gray-9;
}

.header {
  text-align: center;
  color: $oc-indigo-6;
  font-size: 48px;
}

