@import "../../../../../assets/styles/colors";
@import "../../../../../assets/styles/variables";

$scrollIndicatorWidth: 6px;

#attributesViewerComponent {
  @include absolute('bottom-left', 0, $scrollIndicatorWidth);

  width: 50%;
  height: calc(100% - #{$scrollIndicatorWidth});
  background: rgba(black, 0.5);
}

#scrollPane {
  padding-left: 5px;
  padding-bottom: 20px !important;
  padding-top: 0 !important;
}

.row {
  padding: 3px 10px;
}

.headerRow {
  @extend .row;
  font-size: 20px;
  padding-top: 10px;
}

.attributeRow {
  @extend .row;
  .key {
    color: $oc-indigo-4;
    font-size: 13px;
  }
  .value {
    text-align: right;
    font-size: 11px;
  }
  &:hover {
    background: rgba($oc-indigo-4, 0.25);
    .key {
      color: white;
    }
  }
}

