<div id="patientRecordComponent">

    <div id="record" fxLayout="row" (click)="toggleExpanded()" [class.expanded]="expanded">
        <div fxFlex="20">{{patient.account.personalDetails.pesel}}</div>
        <div fxFlex="40" class="patient-name">
            {{patient.account.personalDetails.firstName}}
            {{patient.account.personalDetails.lastName}}
        </div>
        <div fxFlex="15" class="ta-r">{{patient.studyCount}}</div>
        <div fxFlex="25" class="ta-r"> {{patient.lastStudyDate | date:'dd-MM-yyyy'}}</div>
    </div>

    <study-list [studies]="studies" *ngIf="expanded"></study-list>
</div>


<dialog-outlet></dialog-outlet>