@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/variables";

#patientRecordComponent {
  margin: 10px;

  #record {
    background: $oc-gray-8;
    color: white;
    cursor: pointer;
    @include shadow(2px);
    z-index: 10;
    position: relative;
    &.expanded {
      color: $oc-indigo-4;
    }
    font-size: 14px;
    padding: 15px 10px;
    &:hover {
      color: $oc-indigo-4;
    }
  }
}