@import "../../../assets/styles/colors";
@import "../../../assets/styles/variables";

#modalitiesComponent {
  background-color: $primary-bg;
}

#viewContainer {
  padding-top: 20px;
  max-width: 1000px;
  margin: 0 auto;
  color: $oc-gray-9;
}

#listHeaders { // TODO: extract into shared record mixin
  margin: 10px 20px;
  color: rgba(black, 0.8);
}

#listContainer {
  .record {
    margin: 10px;
    padding: 10px; // TODO: extract into shared record mixin
    background: $oc-gray-8;
    color: white;
    cursor: pointer;
    @include shadow(2px);
    z-index: 10;
    position: relative;
    &:hover {
      color: $oc-indigo-4;
    }
  }
}


