@import "../../../assets/styles/colors";
@import "../../../assets/styles/variables";

#modalitiesComponent {
  background-color: $primary-bg;
}

#viewContainer {
  padding-top: 20px;
  max-width: 1000px;
  margin: 0 auto;
  color: $oc-gray-9;
}

#listHeaders {
  margin: 10px 20px;
  color: rgba(black, 0.8);
  font-size: 12px;
}

.record {
  font-size: 14px;
  margin: 10px;
  padding: 15px 10px;
  background: $oc-gray-8;
  color: white;
  @include shadow(2px);
  z-index: 10;
  position: relative;
  &:hover {
    color: $oc-indigo-4;
  }
}


