<div id="modalitiesComponent">
    <div id="viewContainer">

        <div id="listContainer">
            <div id="listHeaders" fxLayout="row">
                <div fxFlex="35">AE title</div>
                <div fxFlex="15">type</div>
                <div fxFlex="35">model</div>
                <div fxFlex="15" class="ta-r">IP address</div>
            </div>

            <div class="record" fxLayout="row" *ngFor="let modality of modalities">
                <div fxFlex="35">{{modality.applicationEntity}}</div>
                <div fxFlex="15">{{modality.type}}</div>
                <div fxFlex="35">{{modality.attributes.Manufacturer}} {{modality.attributes.ManufacturerModelName}}</div>
                <div fxFlex="15" class="ta-r">{{modality.address}}</div>
            </div>
        </div>

    </div>
</div>