<nav class="navbar-header">
    <a routerLink="/pages/dashboard" class="al-logo clearfix">
        <img
                [ngClass]="{'navbar-brand navbar__logo': true }"
                src="../../../../assets/img/HM-mini.png"
        >
    </a>
    <div>
        <button mat-button routerLink="/pages/usersProfile" class="email">
            <i class="material-icons">person</i><span>{{ email }}</span>
        </button>
        <button
                mat-icon-button="power_settings_new"
                (click)="logout()" routerLink="/"
                [mdl-tooltip-large]="labels.logout"
                mdl-tooltip-position="bottom"
        >
            <i class="material-icons">power_settings_new</i>
        </button>
    </div>
</nav>
