<div class="center">
    <span defaultOverlayTarget></span>
    <h1 class="text-center jumbotron" >{{doctor?.specialization.description}} {{doctor?.firstName}} {{doctor?.lastName}} - available time-slots</h1>
    <div  >

        <mwl-demo-utils-calendar-header  [(view)]="view" [(viewDate)]="viewDate" (click)="reloadEvents()">
            <!-- TODO: nie potrzebujemy przeładowywać wydarzeń przy przełączaniu miesiąc-tydzień-dzień ale nie wiem jak to zrobić -->
        </mwl-demo-utils-calendar-header>

        <div [ngSwitch]="view" class="mat-elevation-z8">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [locale]="locale" (eventClicked)="eventClicked($event)"
                (dayClicked)="viewDate = $event.day.date; view = 'day'">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [locale]="locale" (eventClicked)="eventClicked($event)"
                (dayHeaderClicked)="viewDate = $event.day.date; view = 'day'">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [locale]="locale" (eventClicked)="eventClicked($event)">
            </mwl-calendar-day-view>
        </div>


    </div>

    <!--<p><a [routerLink]="['/home']">Back</a></p>-->
</div>

<modal #visitModal>
    <modal-header [show-close]="true">
        <h1 class="modal-title text-center" *ngIf='currentSlotTaken'>Reserved Visit</h1>
        <h1 class="modal-title text-center" *ngIf='!currentSlotTaken'>Available Visit</h1>

    </modal-header>
    <modal-body>
        <h2>Doctor {{doctor?.firstName}} {{doctor?.lastName}}</h2>
        <h2>{{modalDate}}, {{modalTime}}</h2>
        <div *ngIf='config!=null && !showSlotMoveMenu'>
            <button (click)='displaySlotMoveMenu($event)'>Move timeslot</button>
        </div>
        <div *ngIf='showSlotMoveMenu'>
            Move timeslot
            <br />
            <div *ngIf='moveSlotErr'>
                <span style="color: red;">Invalid Dates! Slot interleaves!</span>
                <br />
            </div>
            <div class="create-timeslot-form">
                <dynamic-form [config]="config" #form="dynamicForm" (submit)="moveTimeSlot($event)">
                </dynamic-form>
            </div>
        </div>

        <div *ngIf='!currentSlotTaken' style="margin-bottom: 10px; margin-top: 10px">
            <input #textbox type="text" [(ngModel)]="data" required>
        </div>

        <div *ngIf='!currentSlotTaken && !imAPatient'>
            <select #select [(ngModel)]="priority">
                <option *ngFor="let item of priorities" [value]="item.id">{{item.name}}</option>
            </select>
        </div>

        <div *ngIf='currentSlotTaken'>
            <a (click)="unEnroll()" class="btn btn-default">
                UnEnroll!
            </a>
        </div>

        <button type="button" class="btn btn-primary" (click)="exportToGoogle()">Export to Google Calendar</button>


        <h3>Patients available for enrollment</h3>
        <!--<div class="dropdown">-->
        <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{patientName}}-->
        <!--<span class="caret"></span></button>-->
        <div *ngIf='imAPatient && currentSlotTaken'>
            You are already enrolled for this appointment!
        </div>
        <div *ngIf='imAPatient && !currentSlotTaken'>
            <a (click)="enrollMe()" class="btn btn-default">Enroll!</a>
        </div>
        <div *ngIf='!imAPatient && currentSlotTaken'>
            <a (click)="showPatientDetails()" class="btn btn-default">
                Taken by: {{patient.account.personalDetails.firstName}} {{patient.account.personalDetails.lastName}}</a>
        </div>


        <div *ngIf='!imAPatient && !currentSlotTaken'>

            <!--Ze specjalną dedykacją dla doktora Piotra Nawrockiego i jego młodego potomka-->
            <mat-table #table [dataSource]="dataSource">

                <!-- First Name Column -->
                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.firstName}} </mat-cell>
                </ng-container>

                <!-- Last Name Column -->
                <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="chooseForVisit">
                    <mat-header-cell *matHeaderCellDef> {{ 'choose' | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-button (click)="setPatient(row)"
                                class="btn btn-default">
                            {{ 'choose' | translate }}</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
            </mat-table>
        </div>
        <!--</div>-->


    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="modalClosed()">Ok</button>
    </modal-footer>
</modal>