<div class="center">
    <span defaultOverlayTarget></span>
    <h1 class="text-center jumbotron" *ngIf='imAReceptionist'>{{doctor?.specialization.description}} {{doctor?.firstName}} {{doctor?.lastName}} - {{ 'registeringVisitFor' | translate }} {{patient?.firstName}} {{patient?.lastName}}</h1>
    <h1 class="text-center jumbotron" *ngIf='!imAReceptionist'>{{doctor?.specialization.description}} {{doctor?.firstName}} {{doctor?.lastName}} - {{  'availableTimeSlots' | translate }}</h1>
    <div  >

        <mwl-demo-utils-calendar-header  [(view)]="view" [(viewDate)]="viewDate" (click)="reloadEvents()">
            <!-- TODO: nie potrzebujemy przeładowywać wydarzeń przy przełączaniu miesiąc-tydzień-dzień ale nie wiem jak to zrobić -->
        </mwl-demo-utils-calendar-header>

        <div [ngSwitch]="view" class="mat-elevation-z8">
            <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [locale]="locale" (eventClicked)="eventClicked($event)"
                (dayClicked)="viewDate = $event.day.date; view = 'day'">
            </mwl-calendar-month-view>
            <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [locale]="locale" (eventClicked)="eventClicked($event)"
                (dayHeaderClicked)="viewDate = $event.day.date; view = 'day'">
            </mwl-calendar-week-view>
            <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [locale]="locale" (eventClicked)="eventClicked($event)">
            </mwl-calendar-day-view>
        </div>


    </div>

    <!--<p><a [routerLink]="['/home']">Back</a></p>-->
</div>

<modal #visitModal>
    <modal-header [show-close]="true">
        <h1 class="modal-title text-center" *ngIf='currentSlotTaken'>{{ 'reservedVisit' | translate }}</h1>
        <h1 class="modal-title text-center" *ngIf='!currentSlotTaken'>{{ 'availableVisit' | translate }}</h1>

    </modal-header>
    <modal-body>
        <h2>{{ 'Doctor' | translate }} {{doctor?.firstName}} {{doctor?.lastName}}</h2>
        <h2>{{modalDate}}, {{modalTime}}</h2>
        <div *ngIf='config!=null && !showSlotMoveMenu'>
            <button (click)='displaySlotMoveMenu($event)' class="btn btn-primary">{{ 'moveTimeslot' | translate }}</button>
        </div>
        <div *ngIf='showSlotMoveMenu'>
            {{ 'moveTimeslot' | translate }}
            <br />
            <div *ngIf='moveSlotErr'>
                <span style="color: red;">{{ 'invalidDates' | translate }}</span>
                <br />
            </div>
            <div class="create-timeslot-form">
                <dynamic-form [config]="config" #form="dynamicForm" (submit)="moveTimeSlot($event)">
                </dynamic-form>
            </div>
        </div>

        <div *ngIf='!currentSlotTaken' style="margin-bottom: 10px; margin-top: 10px">
            <input #textbox class="form-control" type="text" [(ngModel)]="data" required>
        </div>

        <div *ngIf='!currentSlotTaken && !imAPatient'>
            <select #select [(ngModel)]="priority" class="form-control">
                <option *ngFor="let item of priorities" [value]="item.id">{{item.name}}</option>
            </select>
        </div>

        <div *ngIf='currentSlotTaken'>
            <button (click)="unEnroll()" class="btn btn-danger" style="margin-top: 10px;">
                {{ 'unEnroll' | translate }}
            </button>
        </div>
        <div *ngIf='!currentSlotTaken && !imAPatient'>
            <button (click)="removeTimeSlot()" class="btn btn-danger" style="margin-top: 10px;">
                {{ 'removeTimeslot' | translate }}
            </button>
        </div>

        <button type="button" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;" (click)="exportToGoogle()">{{ 'exportToGoogleCalendar' | translate }}</button>

        <!--<div class="dropdown">-->
        <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{patientName}}-->
        <!--<span class="caret"></span></button>-->
        <div *ngIf='imAPatient && currentSlotTaken'>
            {{ 'youAreAlready' | translate }}
        </div>
        <div *ngIf='isInSinglePatientMode() && !currentSlotTaken'>
            <button (click)="enrollMe()" class="btn btn-success btn-lg">{{ 'enroll' | translate }}</button>
        </div>

        <div *ngIf='imAReceptionist && currentSlotTaken'>
            <h4 (click)="showPatientDetails()" >
                {{ 'takenBy' | translate }} {{patient.firstName}} {{patient.lastName}}</h4>
        </div>

        <div *ngIf='!imAPatient && !imAReceptionist && currentSlotTaken'>
            <h4 (click)="showPatientDetails()" >
                {{ 'takenBy' | translate }} {{patient.account.personalDetails.firstName}} {{patient.account.personalDetails.lastName}}</h4>
        </div>

        <div *ngIf='!isInSinglePatientMode() && !currentSlotTaken'>
            <h3 class="well-lg">{{ 'patientsAvailableForEnrollment' | translate }}</h3>
            <!--Ze specjalną dedykacją dla doktora Piotra Nawrockiego i jego młodego potomka-->
            <mat-table #table [dataSource]="dataSource">

                <!-- First Name Column -->
                <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef> {{ 'firstName' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.firstName}} </mat-cell>
                </ng-container>

                <!-- Last Name Column -->
                <ng-container matColumnDef="lastName">
                    <mat-header-cell *matHeaderCellDef> {{ 'lastName' | translate }} </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="chooseForVisit">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-button (click)="setPatient(row)"
                                class="btn btn-default">
                            {{ 'choose' | translate }}</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
            </mat-table>
        </div>
        <!--</div>-->


    </modal-body>
    <modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">{{ "Cancel" | translate}}</button>
        <button type="button" class="btn btn-primary" (click)="modalClosed()">Ok</button>
    </modal-footer>
</modal>