@import '../../assets/styles/colors';

.form {
  &-group {
    .help-block {
      font-size: 9px;
      color: #e78787;
    }
  }

  &-wrapper {
    width: 20rem;
    margin: 2rem auto;
    padding: 4rem;
    //border: 2px solid $oc-gray-2;
    //border-radius: 4px;
    background: $oc-white;
    //padding: 20px 30px;
    //width: 52rem;
    //box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;

    input {

      &.has-error {
        border: 2px solid $oc-red-6;
      }
    }

    button {
      width: 100%;
      background: $oc-indigo-5;

      &:hover {
        background: darken($oc-indigo-5, 5%);
      }

      &.btn-google {
        background: $oc-red-7;
        color: $oc-white;

        &:hover {
          background: darken($oc-red-7, 5%);
        }
      }
    }

    a {
      display: inline;
      padding: 12px 0;
    }

  }

  &-title {
    align-content: center;
    font-size: large;
    font-weight: bold;
    color: inherit;
    padding-bottom: 2rem;
  }

}

