@import '../../assets/styles/colors';

.form {
  &-group {
    .help-block {
      font-size: 9px;
      color: #e78787;
    }
  }

  &-wrapper {
    width: 28rem;
    height: 36rem;
    margin: 2rem auto;
    padding: 2.6rem;
    background: $oc-white;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;

    input {

      &.has-error {
        border: 2px solid $oc-red-6;
      }
    }

    button {
      width: 100%;
      background: $oc-indigo-5;

      &:hover {
        background: darken($oc-indigo-5, 5%);
      }

      &.btn-google {
        background: $oc-red-7;
        color: $oc-white;

        &:hover {
          background: darken($oc-red-7, 5%);
        }
      }

      &.login-button {
        margin-top: 2rem;
      }
    }

    a {
      display: inline;
      padding: 12px 0;
    }

    .bottom-options {
      margin-top: 1rem;
    }

  }

  &-title {
    align-content: center;
    font-size: large;
    font-weight: bold;
    color: inherit;
    padding-bottom: 2rem;
  }
}

:host /deep/ .mat-input-container {
  width: 22rem;
}


:host /deep/ .mat-input-suffix {
  cursor: pointer;
}

:host /deep/ .mat-input-wrapper {
  font-size: 1.4rem;
  margin-bottom: 1rem;

  mat-icon {
    vertical-align: bottom;
  }
}

