<div class="form-wrapper">
    <div class="form-title">
        {{ 'SignInToHM' | translate }}
    </div>

    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

        <mat-form-field>
            <input matInput placeholder="{{ 'EnterEmail' | translate }}" name="Email" [(ngModel)]="model.email" [formControl]="emailAddress" required>
            <mat-error *ngIf="f.submitted && !emailAddress.valid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="{{ 'EnterPassword' | translate }}" name="Password" [(ngModel)]="model.password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <button [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored login-button">
            {{ 'Login' | translate }}
        </button>
        <div class="form-group bottom-options">
            <a [routerLink]="['/forgotPassword']" class="btn btn-lin">{{ 'ForgotPassword' | translate }}</a>
        </div>
    </form>
</div>

