@import "../../../../../assets/styles/colors";
@import "../../../../../assets/styles/variables";


#attributesInfoComponent {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba($oc-indigo-4, 0.4);
  z-index: 10;
}

