<div class="form-creator">
    <div class="form-creator__form">
        <mdl-textfield
                type="text"
                [label]="labels.formName"
                [(ngModel)]="formName"
                floating-label
        >
        </mdl-textfield>
        <div class="form-creator__action-buttons">
            <button #addNewFieldButton mat-button color="primary"
                    (click)="addFieldDialog.show()"
            >
                <mdl-icon>add</mdl-icon> {{ 'AddField' | translate }}
            </button>
            <button #removeFieldButton mat-button color="primary"
                    (click)="removeFieldDialog.show()"
            >
                <mdl-icon>remove</mdl-icon> {{ 'RemoveField' | translate }}
            </button>
        </div>
        <button (click)="save($event)" mat-raised-button color="primary">{{ 'SaveYourForm' | translate }}</button>
    </div>
    <div class="form-creator__form">
        {{ 'YoursFormPreview' | translate }}
        <div class="no-fields" *ngIf="!fields">{{ 'NoFieldsYet' | translate }}</div>
        <dynamic-form
                *ngIf="fields"
                [config]="fields"
                #form="dynamicForm"
        ></dynamic-form>
    </div>

    <div class="form-creator__form">
        {{ 'FillWithExampleData' | translate }}:
        <mat-form-field>
            <mat-select [placeholder]="labels.selectForm" *ngIf="formsToChoose" [(ngModel)]="formSelectState">
                <mat-option *ngFor="let form of formsToChoose" [value]="form" (click)="onChooseForm(form)">
                    {{ form.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mdl-textfield
                type="text"
                [label]="labels.defaultDatasetName"
                [(ngModel)]="defaultDataSetName"
                floating-label
        >
        </mdl-textfield>
        <mat-divider></mat-divider>
        <dynamic-form
                [config]="formConfig"
                #formToFill="dynamicForm"
                (submit)="submitDefaultValues($event)">
        </dynamic-form>
    </div>

    <mdl-dialog #addFieldDialog
                [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '52rem'},
              isModal:true,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}"
    >
        <h3 class="mdl-dialog__title">{{ 'AddFieldsToForm' | translate }}</h3>
        <div class="mdl-dialog__content">
            <field-creator [addFieldDialog]="addFieldDialog">
            </field-creator>
        </div>
        <div class="mdl-dialog__actions">
            <button mdl-button (click)="addFieldDialog.close()" mdl-ripple>{{ 'Close' | translate }}</button>
        </div>
    </mdl-dialog>
    <mdl-dialog #removeFieldDialog
                [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '52rem'},
              isModal:true,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}"
    >
        <h3 class="mdl-dialog__title">{{ 'RemoveFieldsFromForm' | translate }}</h3>
        <div class="mdl-dialog__content">
            <fields-remover [fields]="fields">
            </fields-remover>
        </div>
        <div class="mdl-dialog__actions">
            <button mdl-button (click)="removeFieldDialog.close()" mdl-ripple>{{ 'Close' | translate }}</button>
        </div>
    </mdl-dialog>
    <dialog-outlet></dialog-outlet>
</div>