<div class="form-creator">
    <div class="form-creator__form">
        <mdl-textfield
                type="text"
                label="Form name"
                [(ngModel)]="formName"
                floating-label
                mdl-tooltip-large="Add name to your form"
                mdl-tooltip-position="right"
        >
        </mdl-textfield>
        <div class="form-creator__action-buttons">
            <button #addNewFieldButton mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-tooltip-large="Add new field"
                    mdl-tooltip-position="right"
                    (click)="addFieldDialog.show()"
            >
                <mdl-icon>add</mdl-icon> add
            </button>
            <button #removeFieldButton mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-tooltip-large="Remove fields"
                    mdl-tooltip-position="right"
                    (click)="removeFieldDialog.show()"
            >
                <mdl-icon>remove</mdl-icon> remove
            </button>
        </div>
        <button mdl-button (click)="save($event)" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save your form</button>
    </div>
    <div class="form-creator__form">
        Yours form preview:
        <div class="no-fields" *ngIf="!fields">You have not added any fields yet :(</div>
        <dynamic-form
                *ngIf="fields"
                [config]="fields"
                #form="dynamicForm"
        ></dynamic-form>
    </div>
    <mdl-dialog #addFieldDialog
                [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '52rem', 'height': '40rem', 'overflow': 'auto'},
              isModal:true,
              openFrom: addNewFieldButton,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}"
    >
        <h3 class="mdl-dialog__title">Add fields to your form</h3>
        <div class="mdl-dialog__content">
            <field-creator>
            </field-creator>
        </div>
        <div class="mdl-dialog__actions">
            <button mdl-button (click)="addFieldDialog.close()" mdl-ripple>Cancel</button>
        </div>
    </mdl-dialog>
    <mdl-dialog #removeFieldDialog
                [mdl-dialog-config]="{
              clickOutsideToClose: true,
              styles:{'width': '52rem', 'height': '40rem', 'overflow': 'auto'},
              isModal:true,
              openFrom: removeFieldButton,
              enterTransitionDuration: 400,
              leaveTransitionDuration: 400}"
    >
        <h3 class="mdl-dialog__title">Remove fields from your form</h3>
        <div class="mdl-dialog__content">
            <fields-remover [fields]="fields">
            </fields-remover>
        </div>
        <div class="mdl-dialog__actions">
            <button mdl-button (click)="removeFieldDialog.close()" mdl-ripple>Cancel</button>
        </div>
    </mdl-dialog>
    <dialog-outlet></dialog-outlet>
</div>