<div id="DicomArchiveComponent">
    <div id="viewContainer">
        <div id="listContainer">
            <div id="listHeaders" fxLayout="row">
                <div fxFlex="20">pesel</div>
                <div fxFlex="40">name</div>
                <div fxFlex="15" class="ta-r">studies</div>
                <div fxFlex="25" class="ta-r">last study</div>
            </div>
            <patient-record *ngFor="let patient of patients" [patient]="patient"></patient-record>
        </div>

    </div>
</div>