<div class="col-md-6 col-md-offset-3">
    <h1>Patient's list</h1>
    <div>
        Patients:
        <ul>
            <!--<li *ngFor="let patient of patients">-->
                <!--<div class="patient-item">-->
                    <!--{{patient.firstName}} {{patient.lastName}}-->
                <!--</div>-->
            <!--</li>-->
            <patients-list-item *ngFor="let patient of patients" [firstName]="patient.firstName" [lastName]="patient.lastName"></patients-list-item>
        </ul>
    </div>
    <p><a [routerLink]="['/home']">Back</a></p>
</div>