<form [formGroup]="form"
      (submit)="onSubmit($event)">
        <div>
            Enter patient's PESEL number:
        </div>
        <p>
            <mdl-textfield label="PESEL" name="pesel" type="text" formControlName="pesel" floating-label></mdl-textfield>
        </p>
        <p>
            <button mdl-button type="submit" [disabled]="!form.valid" mdl-button-type="raised" mdl-ripple mdl-colored="primary">Submit</button>
        </p>
</form>

<mdl-list *ngIf="patient">
    <mdl-list-item>
        <mdl-list-item-primary-content [routerLink]="['/pages/patientDetails', patient?.id]" >
            <mdl-icon mdl-list-item-icon>person</mdl-icon>
            {{ patient?.account?.personalDetails?.firstName }} {{ patient?.account?.personalDetails?.lastName }}
        </mdl-list-item-primary-content>
    </mdl-list-item>
</mdl-list>

