:host /deep/ .dynamic-field {
  //margin-bottom: 15px;
  //
  //label {
  //  display: block;
  //  font-size: 16px;
  //  font-weight: 400;
  //  letter-spacing: 0px;
  //  margin-bottom: 10px;
  //  color: rgba(0, 0, 0, 0.9);
  //}
}

:host /deep/ .dynamic-form {
  display: flex;
  flex-flow: row wrap;
}

:host /deep/ form-input,
:host /deep/ form-select {
  margin-right: 1rem;
}

:host /deep/ form-button {
  flex: 1 0 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

