:host /deep/ .dynamic-field {
}

:host /deep/ .mat-form-field {
  width: 100%;
}

:host /deep/ .dynamic-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

:host /deep/ form-input,
:host /deep/ form-textarea,
:host /deep/ form-select,
:host /deep/ form-date {
  width: 40rem;
  margin-right: 1rem;
}

:host /deep/ form-date {
  .mdl-button--icon {
    position: absolute;
    margin-top: 1.3rem;
    cursor: pointer;
    z-index: 100;
  }
}

:host /deep/ form-button {
  flex: 1 0 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

