<div class="col-md-6 col-md-offset-3">
    <h1>Patient's list</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Details</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthdate</th>
        </tr>
        </thead>
        <tbody >
            <tr *ngFor="let patient of patients">
                <th scope="row">
                    <!--<div (click)="viewDetails(patient._id)">-->
                    <a [routerLink]="['/pages/patientDetails', patient.id]" [href]="'/patientDetails'">
                        <i class="material-icons">pageview</i>
                    </a>
                </th>
                <td>{{ patient.account.personalDetails.firstName }}</td>
                <td>{{ patient.account.personalDetails.lastName }}</td>
                <td> {{ patient.account.personalDetails.birthdate }}</td>
            </tr>
        </tbody>
    </table>
    <!--<p><a [routerLink]="['/home']">Back</a></p>-->
</div>