<!--<div>-->
    <!--<div class="patient-list__item">-->
        <!--&lt;!&ndash;<h2>Patient Id: {{ id }}</h2>&ndash;&gt;-->
        <!--<span class="patient">{{ firstName }} {{ lastName }}</span>-->
        <!--&lt;!&ndash;<span class="lastName"> {{ lastName }}</span><br>&ndash;&gt;-->
        <!--<button class="btn btn-outline-primary " type="button" (click)="viewDetails()">-->
            <!--Go to details-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->
<!--<tr>-->
    <th scope="row">1</th>
    <td>{{ firstName }}</td>
    <td>{{ lastName }}</td>
    <td> {{ birthdate }}</td>
<!--</tr>-->

