@import "../../../assets/styles/colors";
@import "../../../assets/styles/variables";

#patientRecordComponent {
  margin: 10px;

  #head {
    padding: 10px;
    background: $oc-gray-8;
    color: white;
    cursor: pointer;
    @include shadow(2px);
    z-index: 10;
    position: relative;
    &:hover {
      color: $oc-indigo-4;
    }
  }

  #studiesList {
    @include shadow(1px);
    margin: 0 5px;
    background: $oc-indigo-3;
    overflow: hidden;
    &.collapsed {
      max-height: 0;
    }
    &.expanded {
      max-height: 1000px;
    }

    .study {
      cursor: pointer;
      padding: 7px;
      transition: all 300ms ease-in-out;
      &:hover {
        background: $oc-indigo-4;
        color: white;
      }
    }
  }
}