@import "../../assets/styles/colors";
@import "../../assets/styles/variables";

#medcomComponent {
  background-color: $primary-bg;
}

#viewContainer {
  max-width: 1000px;
  margin: 0 auto;
  color: $oc-gray-9;
}

.header {
  text-align: center;
  color: $oc-indigo-6;
  font-size: 48px;
}

.subHeader {
  @extend .header;
  font-size: 32px;
}

.error {
  color: red;
}

.pane {
  background-color: $oc-gray-2;
  margin: 30px 15px;
  padding: 20px;
  @include shadow(3px);

  div, h2, h3 {
    margin: 0;
    padding-bottom: 10px;
  }
}

#contentContainer {

}