@import "../../assets/styles/colors";
@import "../../assets/styles/variables";

#medcomComponent {
  background-color: $primary-bg;

  #viewContainer {
    max-width: 1000px;
    margin: 0 auto;
    color: $oc-gray-9;
  }

  .header {
    text-align: center;
    color: $oc-indigo-6;
    font-size: 48px;
  }

  .mdl-tabs__tab-bar {
    border-color: rgba($oc-gray-8, 0.2);
    border-width: 2px;
  }

  .mdl-tabs__tab {
    color: $oc-gray-8;
    cursor: pointer;
    &.is-active {
      color: $oc-indigo-4 !important;
      &:after {
        background: $oc-indigo-4 !important;
      }
    }
  }

}



