<div id="medcomComponent">
    <div id="viewContainer">

        <div class="header">Medcom</div>

        <div class="pane">
            <div class="subHeader">Archive tree</div>


            <div id="contentContainer" [class.error]="!!errorMsg">
                <div *ngIf="fetching">
                    Loading...
                </div>
                <div *ngIf="!fetching && !!errorMsg">
                    {{errorMsg}}
                </div>
                <div *ngIf="!fetching && !errorMsg">
                    <archive-tree [archive]="archive"></archive-tree>
                </div>
            </div>

        </div>
    </div>
</div>