<div>
    <form [formGroup]="formssss">
        <mdl-select formControlName="fieldType" [placeholder]="labels.fieldType" floating-label (change)="onChange($event)">
            <mdl-option *ngFor="let option of ['Textfield', 'Date', 'Checkbox', 'Select']" [value]="option">
                {{ option | translate }}
            </mdl-option>
        </mdl-select>
    </form>
    <h3><span style="margin-right: 2rem">{{ 'Field' | translate }}:</span> {{ type | translate }}</h3>
    <dynamic-form *ngIf="type === 'Textfield'"
            [config]="config"
            #form="dynamicForm"
            (submit)="submitTextfield($event)"
    >
    </dynamic-form>
    <dynamic-form *ngIf="type === 'Checkbox'"
                  [config]="checkboxConfig"
                  #checkboxForm="dynamicForm"
                  (submit)="saveCheckboxField($event)"
    >
    </dynamic-form>
    <dynamic-form *ngIf="type === 'Date'"
                  [config]="dateConfig"
                  #dateForm="dynamicForm"
                  (submit)="saveDateField($event)"
    >
    </dynamic-form>
    <div *ngIf="type === 'Select'">
        <mdl-textfield type="text" label="Selectfield name" [(ngModel)]="selectFieldName" floating-label></mdl-textfield>
        <dynamic-form
                [config]="optionConfig"
                id="selectForm"
                #selectForm="dynamicForm"
                (submit)="addOption($event)"
        ></dynamic-form>
        <mdl-list>
            <mdl-list-item *ngFor="let option of options" (click)="removeOption(option)">
                <mdl-list-item-primary-content>
                    <mdl-icon mdl-list-item-avatar>close</mdl-icon>
                    {{ option?.option }}
                </mdl-list-item-primary-content>
            </mdl-list-item>
        </mdl-list>
        <button mdl-button (click)="saveOptionField($event)" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
    </div>
</div>