<div>
    <!--<div class="card card-block">-->
        <!--<h4 class="card-title">Field Creator</h4>-->

            <!--<div class="form-group">-->
                <!--<label>Name</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--placeholder="Provide field name"-->
                       <!--required-->
                       <!--name="field-name">-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label>Is field required?</label>-->
                <!--<input type="checkbox"-->
                       <!--class="form-control"-->
                       <!--required-->
                       <!--name="field-required">-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label>Is field editable?</label>-->
                <!--<input type="checkbox"-->
                           <!--class="form-control"-->
                           <!--required-->
                           <!--name="field-editable">-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label>Label</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--required-->
                       <!--name="field-label">-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label>Placeholder</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--required-->
                       <!--name="field-placeholder">-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label>Contextual text</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--required-->
                       <!--name="field-contextual">-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label>Warning text</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--required-->
                       <!--name="field-warning">-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label>Error text</label>-->
                <!--<input type="text"-->
                       <!--class="form-control"-->
                       <!--required-->
                       <!--name="field-error">-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label>Available options</label>-->
                <!--&lt;!&ndash;<div *ngFor="let option of field.fieldAvailableValues">&ndash;&gt;-->
              <!--<div>-->
                    <!--<input type="text"-->
                           <!--class="form-control"-->
                           <!--required-->
                           <!--name="field-option-label">-->
                    <!--<input type="text"-->
                           <!--class="form-control"-->
                           <!--required-->
                           <!--name="field-option-value">-->
                <!--</div>-->
            <!--</div>-->
        <!---->
    <!--</div>-->
    <form [formGroup]="formssss">
        <mdl-select formControlName="fieldType" label="Field type" floating-label (change)="onChange($event)">
            <mdl-option *ngFor="let option of ['Textfield', 'Date', 'Checkbox', 'Select']" [value]="option">
                {{ option }}
            </mdl-option>
        </mdl-select>
    </form>
    <dynamic-form *ngIf="type === 'Textfield'"
            [config]="config"
            #form="dynamicForm"
            (submit)="submit($event)"
    >
    </dynamic-form>
    <dynamic-form *ngIf="type === 'Checkbox'"
                  [config]="checkboxConfig"
                  #checkboxForm="dynamicForm"
                  (submit)="saveCheckboxField($event)"
    >
    </dynamic-form>
    <dynamic-form *ngIf="type === 'Date'"
                  [config]="dateConfig"
                  #dateForm="dynamicForm"
                  (submit)="saveDateField($event)"
    >
    </dynamic-form>
    <div *ngIf="type === 'Select'">
        <mdl-textfield type="text" label="Selectfield name" [(ngModel)]="selectFieldName" floating-label></mdl-textfield>
        <dynamic-form
                [config]="optionConfig"
                id="selectForm"
                #selectForm="dynamicForm"
                (submit)="addOption($event)"
        ></dynamic-form>
        <mdl-list>
            <mdl-list-item *ngFor="let option of options" (click)="removeOption(option)">
                <mdl-list-item-primary-content>
                    <mdl-icon mdl-list-item-avatar>close</mdl-icon>
                    {{ option?.option }}
                </mdl-list-item-primary-content>
            </mdl-list-item>
        </mdl-list>
        <button mdl-button (click)="saveOptionField($event)" mdl-button-type="raised" mdl-colored="primary" mdl-ripple>Save</button>
    </div>
</div>