<div class="col-md-6">
    <div class="card card-block">
        <h4 class="card-title">Field Creator</h4>

            <div class="form-group">
                <label>Name</label>
                <input type="text"
                       class="form-control"
                       placeholder="Provide field name"
                       required
                       [(ngModel)]="field.name"
                       name="field-name">
            </div>

            <div class="form-group">
                <label>Is field required?</label>
                <input type="checkbox"
                       class="form-control"
                       required
                       [(ngModel)]="field.isRequired"
                       name="field-required">
            </div>

            <div class="form-group">
                <label>Is field editable?</label>
                <input type="checkbox"
                       class="form-control"
                       required
                       [(ngModel)]="field.isEditable"
                       name="field-editable">
            </div>

            <div class="form-group">
                <label>Label</label>
                <input type="text"
                       class="form-control"
                       required
                       [(ngModel)]="field.label"
                       name="field-label">
            </div>

            <div class="form-group">
                <label>Placeholder</label>
                <input type="text"
                       class="form-control"
                       required
                       [(ngModel)]="field.placeholder"
                       name="field-placeholder">
            </div>

            <div class="form-group">
                <label>Contextual text</label>
                <input type="text"
                       class="form-control"
                       required
                       [(ngModel)]="field.contextualText"
                       name="field-contextual">
            </div>

            <div class="form-group">
                <label>Warning text</label>
                <input type="text"
                       class="form-control"
                       required
                       [(ngModel)]="field.warningText"
                       name="field-warning">
            </div>

            <div class="form-group">
                <label>Error text</label>
                <input type="text"
                       class="form-control"
                       required
                       [(ngModel)]="field.errorText"
                       name="field-error">
            </div>

            <div class="form-group">
                <label>Available options</label>
                <div *ngFor="let option of field.fieldAvailableValues">
                    <input type="text"
                           class="form-control"
                           required
                           [(ngModel)]="option.name"
                           name="field-option-label">
                    <input type="text"
                           class="form-control"
                           required
                           [(ngModel)]="option.value"
                           name="field-option-value">
                </div>
            </div>

        </form>

    </div>
</div>