<div id="studyDialog">
    <div *ngIf="!fetchingSeries && !errorMessage">

        <div id="topBar">
            <button id="infoBoxButton" mdl-button mdl-ripple (click)="toggleInfoBox()">Info</button>

            <mdl-tabs mdl-ripple mdl-tab-active-index="0" (mdl-tab-active-changed)="onSeriesChange($event)">
                <mdl-tab-panel *ngFor="let series of seriesList">
                    <mdl-tab-panel-title>
                        [{{series.creationDate | date:'HH:mm:ss'}}]
                        {{series.attributes.SeriesDescription}}
                        ({{series.attributes.PerformedProcedureStepDescription}}) <!-- TODO surroundWithBraces pipe-->
                    </mdl-tab-panel-title>
                </mdl-tab-panel>
            </mdl-tabs>

            <button id="closeButton" mdl-button mdl-ripple (click)="closeDialog()">X</button> <!-- TODO: icons -->
        </div>

        <div id="viewer" dicom [series]="activeSeries" (imageLoaded)="onImageLoaded($event)">
            <attributes-viewer
                    *ngIf="infoBoxVisible"
                    [study]="study"
                    [series]="activeSeries"
                    [instance]="activeInstance"
            ></attributes-viewer>
        </div>
    </div>

    <div *ngIf="!fetchingSeries && errorMessage">
        {{errorMessage}}
    </div>
</div>