@import "../../../../assets/styles/colors";
@import "../../../../assets/styles/variables";

$barHeight: 50px;

#studyDialog {
  padding: 10px;
  color: white;
  height: 100%;

  div {
    height: 100%;
  }

  #topBar {
    height: $barHeight;
    position: relative;
    button {
      height: 100%;
      position: absolute;
      top: 0;
    }
    #closeButton {
      right: 0;
      font-size: 20px;
      color: red;
    }
  }

  #viewer {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: calc(100% - #{$barHeight});
    //#infoPane {
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  width: 50%;
    //  height: 100%;
    //  background: rgba($oc-indigo-4, 0.4);
    //  z-index: 10;
    //}
  }

  .mdl-tabs__tab-bar {
    border-color: rgba(black, 0.5);
  }

  .mdl-tabs__tab {
    color: white;
    cursor: pointer;
    &.is-active {
      color: $oc-indigo-4 !important;
      &:after {
        background: $oc-indigo-4 !important;
      }
    }
  }

}

