<div id="toolsPaneComponent">
    <div id="container" fxLayout="row" fxLayoutAlign="center center">

        <div class="toolTile"
             *ngFor="let tool of tools"
             (click)="activateTool(tool)"
             [class.active]="activeTool && activeTool.name === tool.name"
             [mdl-tooltip-large]="tool.name"
             mdl-tooltip-position="bottom"
        >
            <mdl-icon class="icon">{{tool.icon}}</mdl-icon>
        </div>
        <div class="actionTile"
             *ngFor="let action of actions"
             (click)="executeAction(action)"
             mat-ripple
             [mdl-tooltip-large]="action.name"
             mdl-tooltip-position="bottom"
        >
            <mdl-icon class="icon">{{action.icon}}</mdl-icon>
        </div>

    </div>
</div>