<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
    <a class="navbar-brand" href="#">Health Manager</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar__buttons">
            <button class="btn btn-sm align-middle btn-outline-secondary " type="button" routerLink="/login">Login</button>
            <button class="btn btn-sm align-middle btn-outline-secondary navbar-toggler-right" type="button" routerLink="/register">Register</button>
        </div>
    </div>
</nav>
<div class="bd-masthead">
    <h1>Health Manager</h1>

    <a routerLink="/medcom">Medcom component</a>

</div>
