<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
    <img class="navbar-brand nabart__logo" src="../../assets/img/health-manager-logotype.png">
    <div class="collapse navbar-collapse navbar__buttons" id="navbarNavAltMarkup">
        <div class="navbar__buttons__row">
            <button class="btn btn-lg align-middle btn-outline-primary " type="button" routerLink="/login">Login</button>
            <button class="btn btn-lg align-middle btn-outline-primary navbar-toggler-right" type="button" routerLink="/register">Register</button>
        </div>
    </div>
</nav>
<div class="bd-masthead">
    <h1>Health Manager</h1>

    <a routerLink="/medcom">Medcom component</a>

</div>
