@import '../../assets/styles/colors';

.navbar {
  background: $navbar-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;

  &__buttons {
    display: flex;
    flex-direction: row;
    position: relative;

    button {
      position: relative;
      margin-left: 2rem;
    }
  }
}