@import "../../../assets/styles/colors";
@import "../../../assets/styles/variables";


$indent-margin: 10px;
@mixin indent($level) {
  margin-left: $level * $indent-margin;
}

.node {
  min-height: 25px;
  cursor: pointer;
  color: $oc-gray-9;
  &-content{
    transition: background-color 400ms ease;
    padding: 8px 0 8px 8px;
    &.hovered {
      background-color: $oc-indigo-3;
      color: $oc-indigo-7;
      .node-label {
        opacity: 1;
      }
    }
  }
  &-id{
    width: 70%;
    display: inline-block;
    margin-right: -4px;
  }
  &-label{
    transition: opacity 400ms ease;
    opacity: 0;
    width: 30%;
    display: inline-block;
    text-align: right;
    margin-right: -4px;
    padding-right: 10px;
  }

}

.patient {
  @extend .node;
  @include indent(0);
}

.study {
  @extend .node;
  @include indent(1);
}

.series {
  @extend .node;
  @include indent(2);
}

.instance {
  @extend .node;
  @include indent(3);
}