<div class="form-wrapper">
    <div class="form-title">
        {{ 'ForgotPassword' | translate }}
    </div>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <mat-form-field>
            <input matInput placeholder="{{ 'EnterEmail' | translate }}" name="NewPassword" [(ngModel)]="model.email" [formControl]="email" required>
        </mat-form-field>

        <button [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored login-button">
            {{ 'ResetPassword' | translate }}
        </button>
    </form>
</div>


