.demo-tab-container{
  display: inline-block;
}
mdl-icon {
  vertical-align: middle;
}
.mdl-tabs__tab {
  cursor: pointer;
}
.demo-toggle-disabled-container mdl-switch {
  margin: 5px 0;
}

:host /deep/ .mat-tab-group {
  box-shadow: none !important;
}

:host /deep/ .dynamic-form {
  flex-direction: column !important;
  align-items: center;
}

:host /deep/ .mat-expansion-panel-header {
  height: 4rem;
}

:host /deep/ {
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
}