<mat-horizontal-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>{{ 'AppointmentsInfo' | translate }}</ng-template>
            <!--<mat-form-field>-->
                <!--<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
            <!--</mat-form-field>-->
            Doctor: {{ doctor?.account?.personalDetails?.firstName }} {{ doctor?.account?.personalDetails?.lastName }}
            {{ doctor?.specialization?.description }}
            Patient: {{ patient?.firstName }} {{ patient?.lastName }}


            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>{{ 'PatientsPersonalInfo' | translate }}</ng-template>
            <!--<mat-form-field>-->
                <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->
            <!--</mat-form-field>-->

            <form [formGroup]="form"
                  (submit)="onSubmit($event)"
                  *ngIf="!patient"
            >
                <div>
                    Enter patient's PESEL number:
                </div>
                <p>
                    <mdl-textfield label="PESEL" name="pesel" type="text" formControlName="pesel"
                                   floating-label></mdl-textfield>
                </p>
                <p>
                    <button mdl-button type="submit" [disabled]="!form.valid" mdl-button-type="raised" mdl-ripple
                            mdl-colored="primary">{{ 'Submit' | translate }}
                    </button>
                </p>
            </form>
            <patient-details *ngIf="patient" [patient]="patient"></patient-details>


            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>{{ 'Interview' | translate }}</ng-template>


        <dynamic-form
                [config]="standardExaminationConfig"
                #standardExaminationForm="dynamicForm"
                (submit)="submitInterviewForm($event)">
        </dynamic-form>

        <mat-form-field>
            <mat-select placeholder="Select form" *ngIf="formsToChoose" [(ngModel)]="formSelectState">
                <mat-option *ngFor="let form of formsToChoose" [value]="form" (click)="onChooseForm(form)">
                    {{ form.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select values" *ngIf="formDefaultValues" [(ngModel)]="defaulValuesSelectState">
                <mat-option *ngFor="let defaultSet of formDefaultValues" [value]="defaultSet" (click)="onChooseDefaultData(defaultSet)">
                    {{ defaultSet.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <dynamic-form
                [config]="formConfig"
                #preparedForm="dynamicForm"
                (submit)="submitPreparedForm($event)">
        </dynamic-form>


        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>{{ 'WritePrescription' | translate }}</ng-template>
        {{ 'StartTypeDrugName' | translate }}
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name" (click)="getPacks()">
                        {{ option?.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>

        <form class="example-form">

        <mat-form-field>
            <mat-select placeholder="Select size" *ngIf="packs ">
                <mat-option *ngFor="let pack of packs" [value]="pack" (click)="onChoosePack(pack)">
                    {{ pack }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </form>

        <button mat-button color="primary" (click)="addDrugToList()">Add</button>


        <mat-list>
            <h3 mat-subheader>{{ 'Drugs' | translate }}</h3>
            <mat-list-item *ngFor="let drug of prescribedDrugsList">
                <mat-icon mat-list-icon>local_offer</mat-icon>
                <h4 mat-line>{{drug.drugName}}</h4>
                <p mat-line> {{drug.size}} </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <h3 mat-subheader>{{ 'Notes' | translate }}</h3>
            <mat-form-field style="width: 40rem">
                <textarea matInput placeholder="Notes" [(ngModel)]="notesModel" (change)="onNotesChange()"></textarea>
            </mat-form-field>
        </mat-list>

        <button mat-raised-button color="primary" (click)=submitPrescription()>{{ 'submitPrescription' | translate }}</button>

        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>{{ 'Summary' | translate }}</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>