<mat-horizontal-stepper [linear]="isLinear">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>{{ 'AppointmentsInfo' | translate }}</ng-template>
            <!--<mat-form-field>-->
                <!--<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
            <!--</mat-form-field>-->
            Doctor: MockDoctor
            Patient: MockPatient
            Date: MockDate
            Price: MockPrice


            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>{{ 'PatientsPersonalInfo' | translate }}</ng-template>
            <!--<mat-form-field>-->
                <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->
            <!--</mat-form-field>-->

            <form [formGroup]="form"
                  (submit)="onSubmit($event)"
                  *ngIf="!patient"
            >
                <div>
                    Enter patient's PESEL number:
                </div>
                <p>
                    <mdl-textfield label="PESEL" name="pesel" type="text" formControlName="pesel"
                                   floating-label></mdl-textfield>
                </p>
                <p>
                    <button mdl-button type="submit" [disabled]="!form.valid" mdl-button-type="raised" mdl-ripple
                            mdl-colored="primary">{{ 'Submit' | translate }}
                    </button>
                </p>
            </form>
            <patient-details *ngIf="patient" [patient]="patient"></patient-details>


            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>{{ 'ProceedMedicalCheckup' | translate }}</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>{{ 'Summary' | translate }}</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>